.container{
    width: 100%;
    max-width: 750px;
    margin: auto;
    display: flex;
    padding: 50px 0;   

}

.info{
    display: flex;
    flex-direction: column;
    width: auto;
}

.logoLink a{
    display: block;
}

.infoArea {
    width: 100%;
    margin: 10px 0;
}

.gridArea{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 750px){
    .container {
        flex-direction: column;
    }

    .info{
        margin-bottom: 50px;
        align-items: center;
    }

    .infoArea{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .gridArea{
        justify-content: center;
        margin: 0 20px;
    }
}